.page-color {
    background: pink;
}

.header-text {
    font-family: cursive;
    font-size: 50px;
}

.header-box {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.navbar-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:palevioletred;

}

.sticky-class {
    position: sticky;
    top: 0px;
}



.projects-container {
    display: grid;
    justify-items: stretch;
    align-items: center;
    position: relative;
    background-color: white;
    border: 2px dashed grey;
    padding: 20px;
    /* stick to fr rather than % or will have issues with padding/margin */
    grid-template-columns: 1fr 4fr;
    /* use auto row so that if you get a row with text that takes more than 10px space, 
    it won't overflow */
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 2em;

}


/* 
.title {
    grid-area: title;
}


.description {
    grid-area: description;    
} */