.page-color {
    background: pink;
}

.header-text {
    font-family: cursive;
    font-size: 50px;
}

.header-box {
    width: 100%;
    margin: 10px;
    text-align: center;
}



.projects-container {
    display: grid;
    width: 97%;
    justify-items: start;
    align-items: center;
    right: 100px;
    top: 25px;
    background-color: white;
    border: 2px dashed grey;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;

    grid-template-areas: 
        "title description"
    ;
    grid-template-columns: 5fr 10fr;
    column-gap: 50px;

}



.title {
    grid-area: title;
}


.description {
    grid-area: description;    
}